* {
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  margin: 0;
}
body{
  position: relative;
  min-height: 100%;
  background-color:#3a3a3a;
}
.row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.cell{
  width:8%;
  display:table-cell;
  margin:0px 0px 0px 0px;
  padding:0px 20px 0px 20px;
  color:#000000;
}
.form{
  position: relative;
  padding-top:5%;
  padding-right:15px;
  padding-left:15px;
  background-color:rgba(255,255,255,0);
  width:80%;
  margin:0px auto auto auto;
  max-width:750px;
  min-height: 100%;
  padding-bottom: 6rem;
}
.button{
  width:100%;
  margin-top:15px;
  margin-right:0px;
  margin-bottom:15px;
  margin-left:0px;
  background-color:rgb(91, 91, 91);
  border-top-color:currentcolor;
  border-top-style:none;
  border-top-width:medium;
  border-left-color:currentcolor;
  border-left-style:none;
  border-left-width:medium;
  border-bottom-color:currentcolor;
  border-bottom-style:none;
  border-bottom-width:medium;
  border-right-color:currentcolor;
  border-right-style:none;
  border-right-width:medium;
  border-image-outset:0;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  -moz-border-top-colors:none;
  -moz-border-left-colors:none;
  -moz-border-bottom-colors:none;
  -moz-border-right-colors:none;
  color:rgb(212, 212, 212);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:2px;
  padding-top:7px;
  padding-right:10px;
  padding-bottom:7px;
  padding-left:10px;
  font-size:1em;
  cursor:pointer;
  vertical-align:middle;
  font-weight:bold;
  outline: none;
  height: 40px;
  border-radius:4px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
}
.form-group{
  padding:0px 0px 10px 0px;
  text-align:center;
}
.button.reset-button{
  background-color:#785580;
  border-bottom-color: #5a3f60;
}
.button:active, .button:disabled{
  background-color:#434343;
  color:#777777;
  margin-top: 18px;
  height: 37px;
  box-shadow: none !important;
}
.button.reset-button:active, .button.reset-button:disabled{
  background-color:#5b4260;
  color:#777777;
  margin-top: 18px;
  height: 37px;
  box-shadow: none !important;
}
.c6858{
  padding:10px;
  font-size:36px;
  font-weight:700;
  font-family:Arial, Helvetica, sans-serif;
  color:#d4d4d4;
  text-align:center;
}
.checkbox-label{
  background-color:rgba(0,0,0,0);
  font-family:Arial, Helvetica, sans-serif;
  font-weight:400;
  margin:0px 15px 0px 10px;
  padding:0px 0px 0px 0px;
  line-height:19px;
  color:#a0a0a0;
}
.form-group.toggle-group{
  display:inline-block;
}
@keyframes fadeEffect{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
button::-moz-focus-inner {
  border: 0 !important;
}
.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width:100%;
  margin:0px 0px 0px 0px;
  text-align: center;
  background-color: #414141;
}
.cell.links{
  margin:0px 0px 0px 0px;
}
.c12905{
  color:#a0a0a0;
  font-weight:500;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
}
.c5757{
  margin-bottom:15px;
  padding-top:7px;
  padding-right:10px;
  padding-bottom:7px;
  padding-left:10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:36px;
  font-weight:700;
  color:rgb(212, 212, 212);
  text-align:center;
  color:rgb(42, 110, 110);
}
@media (max-width: 480px){
  .cell{
    width:100%;
    display:block;
  }
  .c5757{
    font-size:30px;
    font-weight:700;
  }
  .c6858{
    font-size:30px;
  }
}
@media (max-width: 380px){
  .c5757{
    font-size:24px;
    font-weight:700;
  }
  .c6858{
    font-size:24px;
  }
}
